<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivotal.mss.datasdk.sample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pivotal_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pivotal.mss.datasdk.sample.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pivotal.mss.datasdk.sample.activity.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="com.pivotal.mss.datasdk.sample.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.pivotal.mss.datasdk.sample.activity.AuthorizationActivity"
            android:label="@string/title_activity_authorization"
            android:parentActivityName="com.pivotal.mss.datasdk.sample.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.pivotal.pcfdataservices" /> <!-- must be all lowercase, even if the redirect URL itself contains uppercase characters -->
                <data android:host="identity" />
                <data android:pathPrefix="/oauth2callback" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.pivotal.mss.datasdk.sample.activity.DataEditorActivity"
            android:label="@string/title_activity_data_editor"
            android:launchMode="singleTop"
            android:parentActivityName="com.pivotal.mss.datasdk.sample.activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.pivotal.mss.datasdk.sample.activity.ViewJsonActivity"
            android:label="@string/title_view_json_activity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pivotal.cf.mobile.datasdk.sample.activity.DataEditorActivity" />
        </activity>
    </application>

</manifest>
