<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivotal.cf.mobile.datasdk.sample" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_pivotal_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pivotal.cf.mobile.datasdk.sample.activity.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity" />
        </activity>

        <!-- TODO: figure out the correct launchMode for this activity. 'singleTop' doesn't do what I want it to -->
        <activity
            android:name="com.pivotal.cf.mobile.datasdk.sample.activity.AuthorizationActivity"
            android:label="@string/title_activity_authorization"
            android:launchMode="singleTop"
            android:parentActivityName="com.pivotal.cf.mobile.datasdk.sample.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="mobile.cf.pivotal.com" />
                <data android:pathPrefix="/oauth2callback" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

    </application>

</manifest>
